:root {
    --standard-size: 1rem; /* Custom Properties - creates a variable that can be used throughout css */

    --content-height: clamp(25ex, 90vh, 200ex);
    --content-width: clamp(20ch, 80vw, 100ch);

    --standard-pad: clamp(2ch, 2vw, 4ch);
    --extra-pad: clamp(5ch, 4vw, 10ch);
    --primary-dark: #141414;
    --secondary-dark: #242324;
    --tertiary-dark: #302f2f;
    --react-dark: #474747;
    --text-primary: #fff0f0;

    --content-family: 'Montserrat', Helvetica Arial, Arial, sans-serif;
    --heading-family: 'Kufam', Helvetica Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
    font-family: var(--content-family);
    color: var(--text-primary); /*Text Color*/
}

body {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    
    background: radial-gradient(100% 225% at 100% 0%, #FAFF00 0%, #000000 100%), linear-gradient(235deg, #FF7A00 0%, #000000 100%), linear-gradient(20deg, #241E92 0%, #241E92 30%, #5432D3 calc(30% + 1px), #5432D3 35%, #7B6CF6 calc(35% + 1px), #7B6CF6 50%, #E5A5FF calc(50% + 1px), #E5A5FF 100%), linear-gradient(120deg, #110133 0%, #110133 40%, #00918E calc(40% + 1px), #00918E 60%, #4DD599 calc(60% + 1px), #4DD599 70%, #FFDC34 calc(70% + 1px), #FFDC34 100%);
    background-blend-mode: overlay, hard-light, overlay, normal;
}

a {
    color: var(--text-primary);
}

a:visited {
    color: var(--text-primary);
}

a:hover {
    color: var(--text-primary);
}

a[href^="http"]::after {
    background: url(https://upload.wikimedia.org/wikipedia/commons/d/d9/VisualEditor_-_Icon_-_External-link.svg) no-repeat right;
    padding-right: 1.2ch;
}

a[href$=".pdf"] {
    /* content: " [PDF]"; */
    background: url(https://upload.wikimedia.org/wikipedia/commons/3/38/Icon_pdf_file.svg) no-repeat right;
    padding-right: 1.2ch;
}

a[mailto] {
    background: url(https://upload.wikimedia.org/wikipedia/commons/4/42/Icon_External_Link_E-Mail.png) no-repeat right;
    padding-right: 1.2ch;
}

h1, h2 {
    font-family: var(--heading-family);
}

h3, p, pre, a {
    font-family: var(--content-family);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

[id] {
    scroll-margin-top: 7ex;
}



/**-----------------------------------
/**----------Global Header
/**-------------------------------------*/

header { 
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-dark);
    height: clamp(4ch, 5vh, 8ch);
    width: 100%;
}

header > a#home-link {
    display: block;
    justify-content: center;
    align-content: center;
    width: clamp(5ch, 4vw, 10ch);
    margin-left: 1ch;
}

header > a#home-link > div#logo-box {
    display: flex;
    height: 100%;
}

header > a#home-link > div#logo-box > img {
    /* padding: clamp(1%, 2ch, 5%); */
    /* height: auto;
    width: 100%; */
}

header > nav > ul {
    list-style-type: none;
    margin: 0;
}



/**-----------------------------------
/**------Global Site Navigation
/**-------------------------------------*/

nav.crumbs {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}
nav.crumbs > ul#crumb-list { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav.crumbs > ul#crumb-list > li {
    display: flex;
}
nav.crumbs > ul#crumb-list > li > a {
    display: block;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    text-decoration: none;
    font-weight: 900;
    color: inherit;
    width: 100%;
    padding: 1ch 2ch;
    transition: all .2s linear;
}
nav.crumbs > ul#crumb-list > li > a::after {
    content: " / ";
}
nav.crumbs > ul#crumb-list > li > a:hover {
    color: white;
    cursor: pointer;
    text-shadow: 3px 3px var(--react-dark);
    background-color: var(--tertiary-dark);
}
nav.crumbs > ul#crumb-list > li > a:visited {
    color: var(--text-primary);
}


nav.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2ch;
    transition: all .2s linear;
}
nav.menu > button#burger-menu {
    border: none;
    cursor: pointer;
    background-color: transparent;
}
nav.menu > button#burger-menu:hover > svg#burger-icon {
    fill: var(--react-dark);
}
nav.menu > button#burger-menu > svg#burger-icon {
    padding: 0;
    width: clamp(6ch, 3vw, 8ch);
    height: auto;
    fill: var(--text-primary);
    transition: all .2s linear;
}
nav.menu > ul#menu-list {
    z-index: 110;
    display: none;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: var(--tertiary-dark);
}
nav.menu > ul#menu-list > li {
    flex-grow: 1;
    font-size: larger;
    width: 100%;
}
nav.menu > ul#menu-list > li > a {
    display: block;
    font-family: var(--heading-family);
    font-style: inherit;
    font-size: 100%;
    text-decoration: none;
    font-weight: 900;
    color: inherit;
    padding: 1ch 2ch;
    transition: all .2s linear;
}
nav.menu > ul#menu-list > li > a:hover {
    color: var(--text-primary);
    background-color: var(--react-dark);
    animation: font-pulse 2s linear 0s infinite alternate both;
}
nav.menu > ul#menu-list > li > a:visited {
    color: var(--text-primary);
}



/**-----------------------------------
/**----------Global Footer
/**-------------------------------------*/

footer {
    display: flex;
    flex-direction: row;
}

footer > nav > ul {
    list-style-type: none;
}

footer > .footer-section {
    margin: .5rem;
}



/**-----------------------------------
/**-------Global Overlay JS
/**-------------------------------------*/

.shade-overlay-light {
    opacity: .15;
}
.shade-overlay-heavy {
    color: var(--primary-dark);
    opacity: 0;
}



/**-----------------------------------
/**---Index - Content Sections
/**-------------------------------------*/

section {
    background-color:rgba(0, 0, 0, 0.82);
    opacity: 1;
    transition: background-color 1s linear, opacity 1s linear;
    padding: var(--extra-pad);
}

/*
--
--
--
*/

section#section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#section-1 > #intro-article {
    padding: var(--extra-pad);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#section-1 > #intro-article > #name-main-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#section-1 > #eye-candy-1 {
    display: flex;
    justify-content: center;
}

section#section-1 > #eye-candy-1 > img {
    /* border-radius: 50%; */
    width: clamp(50vw, 335px, 75vw);
    height: auto;
}

/*
--
--
--
*/

/* section#section-2 {

} */

section#section-2 > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* TODO Remove or MAKE BETTER */
    border: 0.3rem solid black;
}

section#section-2 > article > img {
    height: auto;
    width: clamp(30vw, 600px, 70vw);
    padding: clamp(1ch, 10vw, 5ch) 0;
}

section#section-2 > article > div.project-desc {
    padding: var(--standard-pad);
}

div.project-desc > p {
    height: clamp( 10ex, 20vh, 50ex );
    width: 100%;
    overflow: auto;
}

section#section-2 > article#project-3-lrg > div.project-desc > div.image-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

section#section-2 > article#project-3-lrg > div.project-desc > div.image-selection > img {
    height: auto;
    width: clamp(25vw, 350px, 30vw);
    padding: clamp(1ch, 5%, 5ch);
}

/*
--
--
--
*/

section#section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#section-3 > form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: clamp(20ch, 80vw, 70ch);
    background-color: var(--tertiary-dark);
    padding: var(--standard-pad);
}

section#section-3 > form > :is(input, select, textarea, button) {
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    color: black;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: var(--standard-pad);
    margin: 2ex 0;
    /* border: 1px solid #ccc; */
    border-radius: 1ch;
}
section#section-3 > form > label > b {
    color: red;
}
  
section#section-3 > form > button[type=submit] {
    display: block;
    font-weight: 900;
    color: inherit;
    background-color: #4CAF50;
    padding: var(--extra-pad);
    margin: 4ex 0;
    border: none;
    cursor: pointer;
    transition: all .2s linear;
}
section#section-3 > form > button[type=submit]:hover {
    color: white;
    text-shadow: 3px 3px var(--react-dark);
    background-color: #265e29;
}

/*
--
--
--
*/

section#section-4 {
    height: auto;
}

section#section-4 > article#resume {
    /* width: clamp(50ch, 100%, 100ch); */
}

section#section-4 > article#resume h2 {
    text-decoration: underline;
    text-decoration-thickness: .5ex;
    text-decoration-skip: none;
}

section#section-4 > article#resume a {
    text-decoration: none;
    color: inherit;
}

section#section-4 > article#resume a:hover {
    text-decoration: underline var(--text-primary) .5ex;
    animation-name: breathing-underline-pulse-text;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: all .5s linear;
}

section#section-4 > article#resume > h1#resume-title {
    display: block;
    text-align: center;
    font-size: clamp(.5ch, 5ch, 10ch);
}

section#section-4 > article#resume > h1#resume-title::first-line {
    font-size: clamp(.5ch, 1ch, 5ch);
    text-decoration: underline;
    text-decoration-thickness: .3ex;
}

section#section-4 > article#resume > div {
    padding: clamp(2ex, 5vh, 10ex) 0;
}

section#section-4 > article#resume > div#resume-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#section-4 > article#resume > div#resume-contact > div#contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

section#section-4 > article#resume > div#resume-contact > div#contact-links > a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(.2ex, 2ex, 2ex) clamp(.5ch, 3vw, 5ch);
}

section#section-4 > article#resume > div#resume-contact > div#contact-links > a > svg {
    width: clamp(5ch, 20vw, 20ch);
    height: auto;
    fill: var(--text-primary);
}

section#section-4 > article#resume > div#resume-contact > div#contact-links > a > svg#git-logo:hover {
    fill: lightskyblue;
}

section#section-4 > article#resume > div#resume-contact > div#contact-links > a > svg#li-logo:hover {
    fill: #2766b1;
}

section#section-4 > article#resume > div#resume-back > ul > li > pre {
    /* display: flex; */
    overflow: hidden;
}

section#section-4 > article#resume > div#resume-exp a {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}

section#section-4 > article#resume > div#resume-exp #li-short-logo {
    width: 4ch;
    height: auto;
    padding: 0 2ch;
}

section#section-4 > article#resume > div#resume-about li {
    padding: 1ch;
}



/**-----------------------------------
/**------Large Ratio Media Queries
/**-------------------------------------*/

/* NOTE: This section must fall after changes or it will be overwritten */

@media all {

}

@media (min-width: 700px) {

    section#section-4 {
        grid-area: s4;
        display: grid;
        place-items: center;
        height: auto;
        /* place-items: center; */
    }
    
    section#section-4 > article#resume {
        display: grid;
        column-gap: 3vw;
        row-gap: 3vh;
        grid-template-areas:
        "Rti Rti"
        "Rcon Rcon"
        "Robj Robj"
        "Rbac Rabt"
        "Rexp Rabt";
        grid-template-columns: auto auto;
        grid-template-rows: repeat(5, auto);
        /* padding: 0 clamp(0ch, 10vw, 10ch); */
        width: clamp(50ch, 100%, 100ch);
    }
    
    section#section-4 > article#resume h2 {
        text-decoration: underline;
        text-decoration-thickness: .5ex;
        text-decoration-skip: none;
    }
    
    section#section-4 > article#resume a {
        text-decoration: none;
        color: inherit;
        /* transition: all .5s linear; */
    }
    section#section-4 > article#resume a:hover {
        text-decoration: underline var(--text-primary) .5ex;
        animation-name: breathing-underline-pulse-text;
        animation-timing-function: linear;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        transition: all .5s linear;
    }
    
    section#section-4 > article#resume > h1#resume-title {
        grid-area: Rti;
        display: block;
        text-align: center;
    }
    section#section-4 > article#resume > h1#resume-title::first-line {
        text-decoration: underline;
        text-decoration-thickness: .3ex;
    }
    
    section#section-4 > article#resume > div#resume-contact {
        grid-area: Rcon;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section#section-4 > article#resume > div#resume-contact > a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2ex 4ch;
    }
    section#section-4 > article#resume > div#resume-contact > a > svg {
        width: 10ch;
        height: auto;
        fill: var(--text-primary);
    }
    section#section-4 > article#resume > div#resume-contact > a > svg#git-logo:hover {
        fill: lightskyblue;
    }
    section#section-4 > article#resume > div#resume-contact > a > svg#li-logo:hover {
        fill: #2766b1;
    }
    
    section#section-4 > article#resume > div#resume-obj {
        grid-area: Robj;
    }
    
    section#section-4 > article#resume > div#resume-back {
        grid-area: Rbac;
    }
    section#section-4 > article#resume > div#resume-back p::marker {
    }
    
    section#section-4 > article#resume > div#resume-exp {
        grid-area: Rexp;
    }
    section#section-4 > article#resume > div#resume-exp a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    section#section-4 > article#resume > div#resume-exp #li-short-logo {
        width: 4ch;
        height: auto;
        padding: 0 2ch;
    }
    
    section#section-4 > article#resume > div#resume-about {
        grid-area: Rabt;
    }
    section#section-4 > article#resume > div#resume-about li {
        padding: 1ch;
    }
    
    section#section-4 > article#resume > div#resume-about > div#resume-cert {
    }
    
    section#section-4 > article#resume > div#resume-about > div#resume-skills {
    }
    
    section#section-4 > article#resume > div#resume-about > div#resume-projects {
    }

}

@media screen and (orientation: landscape) {

}

@media screen and (min-width: 30em) and (orientation: landscape) {

}

/* Printers and Print related dispalys */
@media print {
    
}

/* Screen Reading devices */
@media speech {
    
}

/* Non-Print or Non-Speech */
@media screen {
    
}



/**-----------------------------------
/**-------Animation Keyframes
/**-------------------------------------*/

@keyframes breathing-underline-pulse-text {
    0%  { text-decoration: underline var(--text-primary) .5ex ; }
    33% { text-decoration: underline var(--react-dark) .5ex ; }
    66% { text-decoration: underline var(--react-dark) .5ex ; }
    99% { text-decoration: underline var(--text-primary) .5ex ; }
}

@keyframes font-pulse {
    from {
        font-weight: 100;
    }
    to {
        font-weight: 900;
    }
}

/**-----------------------------------
/**----------Global CRITICAL
/**-------------------------------------*/

/*  ! This is used to check style sheet leading time - 
    ! DO NOT DELETE ! 
    ! IT MUST STAY AT THE BOTTOM OF THE STYLESHEET ! */
#style-sheet {
    z-index: 0
}