# IGNORE ALL
*/**/*
*.*

# ALLOW
!dist/assets**/*
# !dist/*.gz
!dist/*.js
!dist/*.html
!dist/*.css

!build/**/*
!public/**/*

!src/**/*
!utils/**/*

!.gitignore
!package.json
!LICENSE.md
!privacy-policy.txt
!README.md

# DiSALLOW SPECIFIC
src/assets/*