:root {
  --section-shadow: rgba(0, 0, 0, 0.82); /* BLACK TRANSLUCENT */

  --nk-main: #00ffcc;
  --midnight-purple: hsl(264, 63%, 6%);
  --unreal-purple: hsla(264, 85%, 46%, 0.774);

  --primary-dark: #141414;
  --secondary-dark: #242324;
  --tertiary-dark: #302f2f;
  --react-dark: #474747;
  --text-primary: #fff0f0;
}

@media (prefers-color-scheme: dark) {
  :root {

  }

  html {
    color-scheme: dark;
  }
}

body {
}